{% extends 'partials/base.html' %}
{% block title %} Detalles del Pedido {% endblock %}

{% block content %}
<div class="container my-4">
    <div class="card shadow">
        <div class="card-header text-white" style="background-color: #2E8B57;">
            Detalles del Pedido
        </div>
        <div class="card-body">
            <p><strong>ID Pedido:</strong> {{ pedido.numero_pedido }}</p>
            <p><strong>Usuario:</strong> {{ pedido.usuario.username }}</p>
            <p><strong>Fecha:</strong> {{ pedido.fecha|date:"d/m/Y" }}</p>
            <hr>
            <h5>Productos:</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Categoría</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detalle in pedido.detalles.all %}
                    <tr>
                        <td>{{ detalle.producto.nombre }}</td>
                        <td>{{ detalle.producto.categoria }}</td>
                        <td>{{ detalle.cantidad }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <div class="text-center">
                <form method="GET" action="{% url 'dashboard-pedido-delete' pedido.id %}" class="d-inline">
                    <button type="submit" class="btn btn-danger">Borrar Pedido</button>
                </form>
                {% if user.is_superuser %}
                    <a href="{% url 'dashboard-pedido' %}" class="btn btn-secondary">Volver</a>
                {% else %}
                    <a href="{% url 'dashboard-index' %}" class="btn btn-secondary">Volver</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
