{% extends 'partials/base.html' %}
{% block title %} Confirmar Eliminación {% endblock %}

{% block content %}
<div class="container">
    <div class="alert alert-danger mt-4 text-center">
        <h5>¿Estás seguro de que deseas eliminar el pedido <strong>{{ pedido.numero_pedido }}</strong>?</h5>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="text-center">
            <!-- Botón para eliminar el pedido -->
            <button type="submit" class="btn btn-danger">Eliminar Pedido</button>
            
            <!-- Botón para volver -->
            {% if user.is_superuser %}
                <a href="{% url 'dashboard-pedido' %}" class="btn btn-secondary">Volver</a>
            {% else %}
                <a href="{% url 'dashboard-index' %}" class="btn btn-secondary">Volver</a>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
