{% extends 'partials/base.html' %}
{% block title %} Eliminar Usuario {% endblock %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="card shadow-sm">
            <div class="card-header text-white text-center" style="background-color: #2E8B57;">
                Confirmar Eliminación
            </div>
            <div class="card-body bg-light">
                <div class="alert alert-danger text-center">
                    <h5><i class="fas fa-exclamation-triangle"></i> ¿Estás seguro que deseas eliminar al usuario <strong>{{ trabajador.username }}</strong>?</h5>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="d-flex justify-content-between mt-4">
                        <a class="btn btn-secondary btn-sm" href="{% url 'dashboard-staff' %}">Cancelar</a>
                        <input class="btn btn-danger btn-sm" type="submit" value="Eliminar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
