{% extends 'partials/base.html'%}
{% block title%} Usuarios {% endblock %}

{% block content %}

{% include 'partials/topnav.html' %}

<div class="container">
    <div class="row my-4">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead style="background-color: #2E8B57;" class="text-white">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Email</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col" class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for trabajador in trabajadores %}
                        {% if not trabajador.is_superuser %}
                        <tr>
                            <td>{{ trabajador.username }}</td>
                            <td>{{ trabajador.email }}</td>
                            <td>{{ trabajador.profile.telefono }}</td>
                            <td class="text-center">
                                <a class="btn btn-info btn-sm" href="{% url 'dashboard-staff-detalles' trabajador.id %}">Ver</a>
                                <a class="btn btn-sm btn-danger" href="{% url 'dashboard-staff-delete' trabajador.id %}">Eliminar</a>
                            </td>
                            
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
