{% extends 'partials/base.html' %}
{% block title %}Detalle del Cliente{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header text-white text-center" style="background-color: #2E8B57;">
                    Detalle del Usuario
                </div>
                <div class="card-body bg-light">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="mb-0">Información del Perfil</h4>
                        <a class="btn btn-info btn-sm" href="{% url 'user-profile-update' %}">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                    </div>
                    <hr>
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row">Nombre:</th>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email:</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Teléfono:</th>
                                <td>{{ user.profile.telefono }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Dirección:</th>
                                <td>{{ user.profile.direccion }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
